<head>
    <script src="https://unpkg.com/timelines-chart"></script>
    <script src="https://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
    <script src="https://static.robotwebtools.org/roslibjs/current/roslib.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3-color.v2.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v2.min.js"></script>
    <script src="https://d3js.org/d3-timer.v2.min.js"></script>

    <script src="./js/ros-helpers.js"></script>
    <script src="./js/oara-timeline.js"></script>
    <script src="./js/d3-toggle-yn.js"></script>
    <link rel="stylesheet" href="./styles/toggle-yn.css">

    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const architecture_arg = urlParams.get('architecture')
        const actor_arg = urlParams.get('actor')

        let ros = new RosHandler();
        ros.connect();

        const vals = ["FORMULATED", "SELECTED", "EXPANDED", "COMMITTED", "DISPATCHED", "EVALUATED", "FINISHED", "DROPPED"];

        const colors = [
                    "darkslateblue", // FORMULATED: dark red
                    "darkmagenta", // SELECTED: brown red
                    "mediumvioletred", // EXPANDED: orange
                    "lightsalmon", // COMMITED: blue
                    "aquamarine", // DISPATCHED: yellow/mustard
                    "black", // EVALUATED: green
                    "steelblue", // FINISHED: gray
                    "gray"  // DROPPED: dark blue
                ];

        const timeline = new OaraTimeline(vals, colors, function(d) {
                return '<strong>' + d.val + ' </strong><br>'
                      + '<strong>From: </strong>' + d.timeRange[0] + '<br>'
                      + '<strong>To: </strong>' + d.timeRange[1] + '<br>'
                      + '<strong>ID: </strong>' + d.label + '<br>'
                      + '<strong>Goal: </strong>' + d.data['goal']
                    }, false);


        function goal_status_callback(message) {
            let msg_time = timeline.msg_time(message.header.stamp);
            let actor = message.header.frame_id;
            let goal_id = message.goal_id;

            let actor_group = timeline.group(actor);
            let goal_label = timeline.label(actor_group, goal_id);

            timeline.update_ongoing(actor, goal_id, msg_time, false);
            if (message.state > 5) {
                let sim_finish_time = timeline.msg_time({
                    sec: message.header.stamp.sec,
                    nanosec: message.header.stamp.nanosec + 100000000
                });
                goal_label.data.push({
                    val: message.state_string,
                    goal: message.goal,
                    timeRange: [msg_time, sim_finish_time],
                    ongoing: false
                });
            }
            else
                goal_label.data.push({
                    val: message.state_string,
                    goal: message.goal,
                    timeRange: [msg_time, msg_time],
                    ongoing: true
                });

            console.log(timeline.data);
            timeline.update();
        }

        const topic_type = 'oara_interfaces/msg/GoalStatus';
        const topic_name = '/oara/goal_status';

        if (actor_arg !== null)
            ros.create_subscriber(actor_arg+topic_name, topic_type, goal_status_callback);

        else if (architecture_arg !== null) {
            d3.json(architecture_arg, function (d) {
                d.actors.forEach(
                    n => ros.create_subscriber(n.node+topic_name, topic_type, goal_status_callback));
            });
        }
        
        function timeline_update (elapsed) {
            timer_active = true;
            timeline.last_time = timeline.data_time(null);
            timeline.data.forEach(group => {
                group.data.forEach(label => {
                    timeline.update_ongoing(group.group, label.label, null);
                });
            });
            timeline.update();
        }
        var timer = d3.interval(timeline_update, 1000);
        var timer_active = false;
       
        var on_load = function () {
            const timeline_element = d3.select("#timeline");
            timeline.create(timeline_element.node());

            timer.stop();

            const toggle_timer = noYesBtns("#toggle")
                .on('_click', function () {
                    d3.select(this).style('background', 'steelblue');
                    if (this.firstChild.data == 'no') {
                        timer.stop();
                        timer_active = false;
                    }
                    else if (timer_active)
                        console.log("timer already active");
                    else {
                        timer = d3.interval(timeline_update, 1000);
                    }
                })
                .render();

            d3.select("button.ny-btn").node().dispatchEvent(new MouseEvent('click'));
        }


        function on_save () {
            timeline.save("timeline.svg");
        };

      </script>
</head>


<body onload="on_load()">
    <div id="timeline"></div>
    <section align="center" id="toggle" class="ny-btn">
        periodic timeline update:
    </section>
    <section align="center" class="ny-btn">
        Download current timeline:
        <input type='button' onclick="on_save()" class="ny-btn" value="Download"/>
    </section>
</body>

