<head>
    <script src="https://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
    <script src="https://static.robotwebtools.org/roslibjs/current/roslib.js"></script>
    <script src="//d3js.org/d3.v5.min.js"></script>
    <script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
    <script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>
    <script src="./js/ros-helpers.js"></script>
    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const topic = urlParams.get('topic')
        console.log("topic: " + topic);

        function dot_callback(message) {
            console.log(message);
            d3.select('#graph').graphviz().renderDot(message.data);
        }

        let ros = new RosHandler();
        ros.connect();
        ros.create_subscriber(topic, 'std_msgs/String', dot_callback);
    </script>
</head>

<body>
    <div id="graph" style="text-align: center;"></div>
    <script>
        var graph = d3.select('#graph').graphviz();
    </script>
</body>