<head>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script>
        function open_skillset_timelines() {
            console.log("open skillset timelines");
            ns = d3.select("#skillset_ns");
            modes = d3.select("#skillset_file");
            window.open('skillset-timeline.html?ns=' + ns.node().value + '&params=' + modes.node().value);
        }

        function open_oara_timelines() {
            console.log("open OARA timelines");
            actor_node = d3.select("#timeline_file");
            //modes = d3.select("#skillset_file");
            window.open("actors-timeline.html?params=" + actor_node.node().value);
        }

        function open_oara_architecture() {
            console.log("open OARA architecture");
            actor_node = d3.select("#architecture_file");
            //modes = d3.select("#skillset_file");
            window.open("oara-architecture.html?params=" + actor_node.node().value);
        }
</script>
</head>

<body>
    <h1>OARA Goals Timelines</h1>
    <div align="center">
        <img src="images/skills-timelite.png" width="60%"></img>
    </div>
    <h3>Options:</h3>
    <table>
        <tr>
            <td>architecture description file:</td>
            <td><input type="text" id="timeline_file"/></td>
        </tr>
        <!--tr>
            <td>skillset JSON parameter file (absolute path or relative to the server):</td>
            <td><input type="text" id="skillset_file"/></td>
        </tr-->
        <tr>
            <td colspan="2">
                <button type='button' style="width:100%" onclick="open_oara_timelines()">Go</button>
            </td>
        </tr>
    </table>

    <h1>OARA Architecture</h1>
    <div align="center">
        <img src="images/skills-timelite.png" width="60%"></img>
    </div>
    <h3>Options:</h3>
    <table>
        <tr>
            <td>architecture description file:</td>
            <td><input type="text" id="architecture_file"/></td>
        </tr>
        <!--tr>
            <td>skillset JSON parameter file (absolute path or relative to the server):</td>
            <td><input type="text" id="skillset_file"/></td>
        </tr-->
        <tr>
            <td colspan="2">
                <button type='button' style="width:100%" onclick="open_oara_architecture()">Go</button>
            </td>
        </tr>
    </table>

    <h1>Skillset Monitoring Timelines</h1>
    <div align="center">
        <img src="images/skills-timelite.png" width="60%"></img>
    </div>
    <h3>Options:</h3>
    <table>
        <tr>
            <td>skillset namespace:</td>
            <td><input type="text" id="skillset_ns"/></td>
        </tr>
        <tr>
            <td>skillset JSON parameter file (absolute path or relative to the server):</td>
            <td><input type="text" id="skillset_file"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type='button' style="width:100%" onclick="open_skillset_timelines()">Go</button>
            </td>
        </tr>
    </table>

</body>