<head>
    <script src="https://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
    <script src="https://static.robotwebtools.org/roslibjs/current/roslib.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-timer.v2.min.js"></script>

    <script src="./js/two.min.js"></script>
    <script src="./js/ros-helpers.js"></script>
    <script src="./js/oara-archi.js"></script>

    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const architecture_arg = urlParams.get('architecture');

        const ros = new RosHandler();
        ros.connect();

        const two = new Two();
        
        const architecture_description = {};
        const actors = {};
        const observers = {};

        d3.json(architecture_arg, d => {
            console.log(d);
            two.width = d.graph[0];
            two.height = d.graph[1];
            architecture_description.actors = d.actors;
            architecture_description.observers = d.observers;
            architecture_description.arcs = d.arcs;
        });
        
        function goal_status_callback(msg) {
            console.log(msg);
            architecture_description.actors.filter(
                a => a.node.endsWith(msg.header.frame_id)).forEach(
                    a => actors[a.name].updateGoal(msg.state)
            );
            two.update();
        }

        function init_actors() {
            architecture_description.actors.forEach(a => {
                actors[a.name] = new Actor(a.name, a.type, a.task, a.lifecycle);
                actors[a.name].translate(a.position.x, two.height - a.position.y);
            });

            architecture_description.observers.forEach(o => {
                observers[o.name] = new Observer(o.name, o.data);
                observers[o.name].translate(o.position.x, two.height - o.position.y);
            });

            var modules = Object.keys(actors).map(function(key){ return actors[key].group; });
            modules = modules.concat(Object.keys(observers).map(function(key){ return observers[key].group; }));
            console.log(modules);
            var archi = two.makeGroup(...modules);

            // Make an instance of two and place it on the page.
            var elem = document.getElementById('architecture-graph');
            two.appendTo(elem);
            two.update();

            architecture_description.arcs.forEach(edge => {
                let vertices = edge.path.map(v => {
                    let x = v[0];
                    let y = two.height - v[1];
                    return new Two.Anchor(x=x, y=y);
                });
                let p = new Two.Path(vertices);
                p.noFill();
                p.linewidth = 1;
                if (edge.data) p.stroke = "lightsalmon";
                else p.stroke = "darkblue";
                p.curved=true;
                p.closed=false;
                archi.add(p);
                let last = vertices[vertices.length - 1];
                let c = new Two.Ellipse(last.x, last.y, 5);
                if (edge.data) c.fill = "lightsalmon";
                else c.fill = "darkblue";
                c.noStroke();
                archi.add(c);
                if (edge.label !== "") {
                    let l = new Two.Text(edge.label, edge.position[0], two.height - edge.position[1])
                    l.weight = 'normal';
                    l.style = 'italic';
                    if (edge.data) l.fill = "lightsalmon";
                    else l.fill = "darkblue";
                    archi.add(l);
                }
            });

            architecture_description.actors.filter(a => a.node !== undefined).forEach(a => {
                ros.create_service(a.node + '/get_state', 'lifecycle_msgs/srv/GetState');
                ros.create_subscriber(a.node + '/oara/goal_status', 'oara_interfaces/msg/GoalStatus', goal_status_callback);
            });
            architecture_description.observers.filter(a => a.node !== undefined).forEach(a =>
                ros.create_service(a.node + '/get_state', 'lifecycle_msgs/srv/GetState'));

            var architecture_timer = d3.interval(function(elapsed) {
                architecture_description.actors.filter(a => a.node !== undefined).forEach( a =>
                    ros.call_service(a.node + '/get_state', {}, function (response) {
                        let state = response.current_state.label;
                        if (actors[a.name].updateState(state))
                            two.update();
                    }));
                architecture_description.observers.filter(a => a.node !== undefined).forEach( a =>
                    ros.call_service(a.node + '/get_state', {}, function (response) {
                        let state = response.current_state.label;
                        if (observers[a.name].updateState(state))
                            two.update();
                    }));
                }, 1000);

            let svg = d3.select("#architecture-graph").select("svg");
            d3.select("#architecture-graph")
                .call(d3.zoom().on("zoom", function () {
                    svg.attr("transform", d3.event.transform)
                }));

            two.update();

        }
    </script>
</head>


<body onload="init_actors()">
    <div id="architecture-graph">
        <section align="left" class="ny-btn">
            <input type='button' onclick="save_architecture('oara-architecture.svg')" class="ny-btn" value="Download"/>
        </section>
    </div>
    <svg><defs>
        <pattern id="lifecycle-controller" patternUnits="objectBoundingBox" width="1" height="1">
            <image href="./images/lifecycle-controller.png" x="0" y="0" width="90" height="90"></image>
        </pattern>
        <pattern id="lifecycle-planner" patternUnits="objectBoundingBox" width="1" height="1">
            <image href="./images/lifecycle-planner.png" x="0" y="0" width="90" height="90"></image>
        </pattern>
        <pattern id="lifecycle-actor" patternUnits="objectBoundingBox" width="1" height="1">
            <image href="./images/lifecycle-actor.png" x="0" y="0" width="90" height="90"></image>
        </pattern>
    </defs></svg>
</body>

