<head>
    <script src="https://static.robotwebtools.org/roslibjs/current/roslib.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>

    <script src="./js/ros-helpers.js"></script>
    <link rel="stylesheet" href="./styles/oara-style.css">

    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const init_loc = urlParams.get('loc');
        const init_cash = urlParams.get('cash');

        let ros = new RosHandler();
        ros.connect();

        function on_load() {
            imgs = d3.select("#travel-loc").append('tr');
            locs = d3.select("#travel-loc").append('tr');
            imgs.selectAll('td').data(d3.range(0, 30))
                .enter()
                .append('td')
                .append('img')
                    .attr('class', 'loc')
                    .attr('id', function (d) { return 'at-' + d; })
                    .attr('width', 15)
                    .attr('src', './images/location-icon.png')
                    .style("visibility", "hidden");
            locs.selectAll('td').data(d3.range(0, 30))
                .enter()
                .append('td')
                    .style('border', '1px solid')
                    .attr('align', 'center')
                    .text(function (d) { return d; });

            document.getElementById("call-yes").disabled = true;
            document.getElementById("call-no").disabled = true;

            loc_pub.publish({data: init_loc});
            cash_pub.publish({data: init_cash});

            document.getElementById("initloc").value = init_loc;
            document.getElementById("initcash").value = d3.format(".2f")(init_cash);
        };

        let cash_data = [];

        function loc_callback(msg) {
            d3.selectAll("img.loc").style("visibility", "hidden");
            d3.select("#at-" + msg.data).style("visibility", "visible");
        };

        function cash_callback(msg) {
            cash_data.push(msg.data);
            let cells = d3.select("#travel-cash")
                .selectAll('td')
                .data(cash_data);
            cells.enter()
                .append('td')
                .text(d => d3.format("$05,.2f")(d));
            cells               
                .style("opacity", function (d, i) { return (1 + i) / cash_data.length; })
                .style("font-weight", function (d, i) {
                    if (i + 1 == cash_data.length) return 'bold';
                    else return 'normal'; 
                })
                .style("color", function (d, i) {
                    if (i + 1 == cash_data.length) return 'darkblue';
                    else return 'black'; 
                });
        };

        function call_callback(msg) {
            d3.select("#call")
                .text(msg.data);
            document.getElementById("call-yes").disabled = false;
            document.getElementById("call-no").disabled = false;
        };

        function call_response_click(response) {
            d3.select("#call")
                .text("Taxi Call Center");
            document.getElementById("call-yes").disabled = true;
            document.getElementById("call-no").disabled = true;
            call_response.publish({data: response});
        }

        function reset_cash () {
            cash = document.getElementById("initcash").value;
            cash_pub.publish({data: cash});
        }

        function reset_loc () {
            loc = document.getElementById("initloc").value;
            loc_pub.publish({data: loc});
        }

        ros.create_subscriber('/loc', 'std_msgs/msg/Int32', loc_callback);
        ros.create_subscriber('/cash', 'std_msgs/msg/Float32', cash_callback);
        const loc_pub = ros.create_publisher('/loc', 'std_msgs/msg/Int32');
        const cash_pub = ros.create_publisher('/cash', 'std_msgs/msg/Float32');
        ros.create_subscriber('/call_request', 'std_msgs/msg/String', call_callback);
        const call_response = ros.create_publisher('/call_response', 'std_msgs/msg/Bool');

    </script>
</head>


<body onload="on_load()">
    <h1 align="center">OARA Travel Tutorial Simulator</h1>
    <div class="box" style="width: 10%; height: 150">
        <h3 align="center">Reset Values</h3>
        <table>
            <tr>
                <td>location:</td>
                <td align="center"><input type="text" maxlength="3" size="2" id="initloc"></input></td>
                <td><input type="button" value="Publish" onclick="reset_loc()"/></td>
            </tr>
            <tr>
                <td>cash:</td>
                <td align="center"><input type="text" maxlength="7" size="2" id="initcash"></input></td>
                <td><input type="button" value="Publish" onclick="reset_cash()"/></td>
            </tr>
        </table>
    </div>
    <div class="box" style="width: 50%; height: 150">
        <h3 align="center">My Location and Cash</h3>
        <table class='tab' id="travel-loc" align="center">
        </table>
        <table style="border-collapse: separate; border-spacing: 10px;" align="center">
            <tr><td id='travel-cash'></td></tr>
        </table>
    </div>
    <div class="box" style="width: 30%; height: 150">
        <h3 align="center" id="call">Taxi Call Center</h3>
        <table align="center">
            <tr>
                <td><button id="call-yes" type="button" onclick="call_response_click(true)">Yes !</button></td>
                <td><button id="call-no" type="button" onclick="call_response_click(false)">No !</button></td>
            </tr>
        </table>
    </div>
    <hr>
    <div class="box" style="width: 40%; height: 60%">
        <iframe src="oara-architecture.html?architecture=samples/oara-travel.json" align="left" scrolling="no"></iframe>
    </div>
    <div class="box" style="width: 55%; height: 60%">
        <iframe src="actors-timeline.html?architecture=samples/oara-travel.json" align="right" style="overflow-y: auto; overflow-x: hidden;" scrolling="yes"></iframe>
    </div>
</body>

