<head>
    <script src="https://unpkg.com/timelines-chart"></script>
    <script src="https://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
    <script src="https://static.robotwebtools.org/roslibjs/current/roslib.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://d3js.org/d3-color.v2.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v2.min.js"></script>
    <script src="https://d3js.org/d3-timer.v2.min.js"></script>

    <script src="./js/ros-helpers.js"></script>
    <script src="./js/oara-timeline.js"></script>
    <script src="./js/oara-tables.js"></script>
    <link rel="stylesheet" href="./styles/oara-style.css">

    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const ns_arg = urlParams.get('ns')
        console.log("skillset ns: " + ns_arg);
        const params_arg = urlParams.get('params');
        console.log("parameter file: " + params_arg);
        
        let ros = new RosHandler();
        ros.connect();

        const vals = [
            "NOT VALID",
            "NO RESOURCE",
            "RUNNING", 
            "INVARIANT",
            "INTERRUPTING",
            "TERMINATING",
            "TERMINATED",
            "ERROR",
            "FAILED",
            "INTERRUPTED"
        ];
        const colors = [
            "darkmagenta", // NOT VALID
            "mediumvioletred", // NO RESOURCE
            "darkslateblue", // RUNNING
            "lightsalmon", // INVARIANT
            "darkgray", // INTERRUPTING
            "aquamarine", // TERMINATING
            "steelblue", // TERMINATED
            "black",  // ERROR
            "saddlebrown", // FAILED
            "slategray", // INTERRUPTED
        ];
        const states = ["NV", "NR", "RG", "RI", "IG", "T_", "S_", "F_"];

        const skill_timeline = new OaraTimeline(vals, colors, function(d) {
            let info = '<strong>' + d.data.mode + '</strong><br>'
                    + '<strong>From: </strong>' + d.timeRange[0] + '<br>'
                    + '<strong>To: </strong>' + d.timeRange[1] + '<br>'
                    + '<strong>ID: </strong>' + d.data.gid + '<br>'
                    + '<strong>Goal: </strong>' + d.data.goal;
            if (d.data.mode == 'RG')
                return  info + '<br>'
                    + '<strong>Progress: </strong>' + d.data.progress;
            return info;
        }, true);

        const resource_tab = new OaraStateTable();

        var modes_mapping = {};
        var resource_states = [];

        if (params_arg !== null) {
            d3.json(params_arg, d => d.forEach(element => {
                if ('skill' in element)
                    modes_mapping[element.skill] = element.modes;
                else if ('resource' in element)
                    resource_states.push({
                        name: element.resource,
                        states: element.states
                    })
                }));
        }
        console.log(modes_mapping);
        console.log(resource_states);

        function state_to_val(skill, state) {
            let user_mode = null;
            if (skill in modes_mapping) {
                user_mode = modes_mapping[skill][state];
            }

            if (user_mode == null) {
                for (let i = 0; i < states.length; i++) {
                    if (state.startsWith(states[i]))
                        return vals[i];
                }
            } 
            
            else if (vals.includes(user_mode)) {
                return user_mode;
            }
            return 'ERROR';
        }

        function skillset_status_callback(message) {
            console.log(message);
            let msg_time = skill_timeline.msg_time(message.header.stamp);
            
            message.skills.forEach(sk => {
                let g = skill_timeline.group(sk.name);
                sk.goals.forEach(goal => {
                    let l = skill_timeline.label(g, goal.id);
                    skill_timeline.hide(l, goal.id);
                    l.data.push({
                        timeRange: [
                            skill_timeline.data_time(goal.start_time), 
                            skill_timeline.data_time(goal.termination_time, msg_time)
                        ],
                        val: state_to_val(sk.name, goal.state),
                        mode: goal.state,
                        gid: goal.id,
                        goal: goal.input_value,
                        msg: goal.msg,
                        progress: goal.progress,
                        ongoing: true,
                    })
                });
            });

            message.resources.forEach(res => {
                resource_tab.reset(res.name);
                resource_tab.highlight(res.name, res.state);
            });
            skill_timeline.update();
        }

        const topic_type = 'skillset_monitoring/msg/SkillsetStatus';
        const topic_name = ns_arg + '/skillset_status';
        ros.create_subscriber(topic_name, topic_type, skillset_status_callback);

        var on_save = function() {
            skill_timeline.save("skills-timeline.svg");
        };

        var on_load = function () {
            const timeline_skills = d3.select("#skill-timeline");
            skill_timeline.create(timeline_skills.node());

            const resource_div = d3.select('#resource-states');
            resource_tab.tabulate(resource_states, resource_div);
        }
      </script>
</head>

<body onload="on_load()">
    <h2>Skill Activities</h2>
    <div id="skill-timeline"></div>
    <hr>
    <h2>Resource States</h2>
    <div id="resource-states" align="center"></div>
    <hr>
    <div align="center">
        <table>
            <tr>
                <td>Download current timeline: </td>
                <td><button type='button' onclick='on_save()'>Download</button></td>
            </tr>
            <!--tr>
                <td>Record successive timelines: </td>
                <td><label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label></td>
            </tr-->
        </table>
    </div>
</body>