.switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 24px;
}

.switch input { 
        opacity: 0;
        width: 0;
        height: 0;
}

.slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
}

.slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
}

input:checked + .slider {
        background-color: #2196F3;
}

input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
        border-radius: 34px;
}

.slider.round:before {
        border-radius: 50%;
}

/* Tables */
table {
        border-collapse: collapse;
}
table.tab th {
        border: 0;
        border-right: 1px solid black;
        font-style: italic;
}
table.tab td {
        border: 0;
}
table.tab tr, table.tab td, table.tab th {
        border-bottom: 1px solid black;
}

td.inactive {
        color: slategray;
}
td.active {
        color: steelblue;
        font-weight: bold;
}

/* Headers */
h2 {
        width: 100%;
        text-align:center;
}

/* IFrame */

.box{
        margin-right:20px;
        display:inline-block;
}
.clear{
        clear:both;
}
iframe {
        border: 0;
        width: 100%;
        height: 100%;
}


section {
        margin: 20px 0;
        padding-bottom: 20px;
        border-bottom: 1px dotted #ccc; 
    }